<!DOCTYPE html>
<html lang="fr">
  <%- include('partials/head', { model: { locale: model.locale, title: model.translations['home.title'] } }) %>
  <%- include('partials/header-home', { model: { locale: model.locale, translations: model.translations } }) %>
  <body>
    <br /><br />
    <!-- Map Start -->
    <div class="container-fluid overflow-hidden py-5 px-lg-0">
      <div class="container feature py-5 px-lg-0">
        <div>
          <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <%= model.translations['home.aboutUs'] %>
          </h1>
          <div>
            <hr class="red_ligne" size="4px" />
          </div>
          <hr lenght="40px" width="40px" color="red" />
        </div>
        <div class="row g-5 mx-lg-0">
          <div class="col-lg-6 feature-text wow fadeInUp" data-wow-delay="0.1s">
            <div
              class="d-flex flex-column h-100 align-items-center justify-content-center"
            >
              <div class="mb-5 wow fadeInUp" data-wow-delay="0.3s">
                <h3 class="text-center">
                  <i class="bi-globe2" style="color: #b7143f"></i><br /><%= model.translations['home.aboutUs.title1'] %>
                </h3>
              </div>
              <div class="mb-5 wow fadeIn" data-wow-delay="0.5s">
                <h3 class="text-center">
                  <i class="bi-hourglass-top" style="color: #b7143f"></i
                  ><br /><%= model.translations['home.aboutUs.title2'] %>
                </h3>
              </div>
              <div class="mb-0 wow fadeInUp" data-wow-delay="0.7s">
                <h3 class="text-center">
                  <i class="bi-arrow-up" style="color: #b7143f"></i><br /><%= model.translations['home.aboutUs.title3'] %>
                </h3>
              </div>
            </div>
          </div>
          <div class="col-lg-6 pe-lg-0 wow fadeInRight" data-wow-delay="0.1s">
            <div class="position-relative h-100">
              <img
                class="img-fluid w-75 h-auto"
                src="/img/carte.png"
                alt="Carte de l'emplacement des bureaux de l'entreprise"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Map End -->
    <!-- Article Start -->
    <div class="container-xxl py-5">
      <div class="container">
        <div class="section-title text-center">
          <h1 class="display-5 mb-5"><%= model.translations['home.projects.title'] %></h1>
        </div>
        <div>
          <hr class="red_ligne" size="4px" />
        </div>
        <div class="row g-4">
          <% model.projects.forEach(function(project, index){ %>
            <%- include('partials/project-bloc', {locale: model.locale, project, delay: model.delays[index]}); %>
          <% }); %>
        </div>
      </div>
    </div>
    <div style="text-align: center">
      <a
        class="fw-medium ms-2"
        href="/<%= model.locale %>/domaine-publique"
        style="font-size: 20px; color: #b7143f"
      >
        <span
          onmouseover="this.style.color='#769525'"
          onmouseout="this.style.color='#B7143F'"
          ><%= model.translations['home.projects.moreProjects'] %> <i class="fa fa-arrow-down ms-2"></i
        ></span>
      </a>
      <hr class="custom-hr-index" />
    </div>

    <!-- Article End -->
    <!-- Carousel Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="container py-5">
        <div class="text-center">
          <h4 class="text-secondary text-uppercase"><%= model.translations['home.trust.title'] %></h4>
        </div>
        <div
          class="owl-carousel testimonial-carousel wow fadeInUp"
          data-wow-delay="0.1s">
          <% (model.testimonials || []).forEach(function(testimonial){ %>
            <%- include('partials/testimonial-bloc', {model: {locale: model.locale, testimonial}}); %>
          <% }); %>
        </div>
      </div>
    </div>
    <!-- Carousel End -->
    <!-- Footer start -->
    <%- include('partials/footer', { model: { locale: model.locale, translations: model.translations } }) %>
  </body>
</html>
