<header class="header-section-bg">
    <div class="container-xxl p-0">
      <!-- Spinner Start -->
      <div
        id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
      >
        <div
          class="spinner-border text-primary"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Spinner End -->
      <div class="container-xxl">
        <nav
          class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0"
        >
          <a href="" class="navbar-brand p-0">
            <h1 class="m-0">
              <img src="/img/logo.png" height="48" width="48" alt="Logo" />
            </h1>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
          >
            <span class="fa fa-bars"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
              <a href="/<%= model.locale %>" class="nav-item nav-link active">Accueil</a>
              <div class="nav-item dropdown">
                <a
                  href="#"
                  class="nav-link dropdown-toggle"
                  data-bs-toggle="dropdown"
                  >Nos réalisations</a
                >
                <div class="dropdown-menu m-0">
                  <a href="/<%= model.locale %>/domaine-publique" class="dropdown-item"
                    >Domaine publique</a
                  >
                  <a href="/<%= model.locale %>/domaine-privee" class="dropdown-item"
                    >Domaine privé</a
                  >
                </div>
              </div>
              <div class="nav-item dropdown">
                <a href="/<%= model.locale %>/expertises" class="nav-item nav-link"
                  >Nos expertises</a
                >
              </div>
              <a href="/<%= model.locale %>/contact" class="nav-item nav-link">Contact</a>
            </div>
            <div class="language-switcher py-2 px-4 ms-3 ms-auto py-0">
              <% if (model.locale === 'fr') { %>
                <span class="language-fr active">FR</span>
                <a href="/en"><span class="language-en">EN</span></a>
              <% } else { %>
                <span class="language-en active">EN</span>
                <a href="/fr"><span class="language-fr">FR</span></a>
              <% } %>
            </div>
          </div>
        </nav>
      </div>
    </div>
</header>